.buttonAddFavorite {
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #bbed33;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 90px;
}
.titleDescription {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
.containerDetails__video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.containerDetails__description {
    margin-left: 2rem;
    margin-right: 2rem;
}
.wrapperButtonAdd {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .iframe {
        width: 560px;
        height: 315px;
    }
    .containerDetails {
        display: flex;
        margin-bottom: 2rem;
    }
    .containerDetails__description {
        margin-left: 3rem;
        font-weight: bold;
        text-align: justify;
        margin-right: 2rem;
    }

    .containerDetails__video {
        display: inline;
        margin-left: 3rem;
        margin-top: initial;
        margin-bottom: initial;
    }

    .titleDescription {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }

    .buttonAddFavorite:hover {
        background-color: rgb(193, 193, 193);
    }

    .wrapperButtonAdd {
        text-align: center;
    }

    .paragraph__description {
        font-weight: lighter;
        margin-top: 3rem;
    }
}
