.workoutsList {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.workoutsList__workout {
    text-align: center;
    list-style: none;
}

.paginationWorkout {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (min-width: 600px) {
    .workoutsList {
        display: flex;
    }
}
